%h1 Online shop for VIPs

%table{:class => 'table table-bordered'}
  %thead
    %tr
      %th Name
      %th Price
      %th Cart
  %tbody    
    - @products.each do |product|
      %tr
        %td= product.name
        %td= product.price
        %td= current_user.cart.products.include?(product) ? "In cart" : link_to( "Add to cart", carts_add_path(:product_id => product.id) )

